.nav-container{
    display: flex;
    align-items: center;
    background-color: #1d2020;
    height: 72px;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.26);
    justify-content: space-between;
    z-index: 99;
}
/*  justify-content - space between make sure that the space between the children of .nav-container
 i.e. nav-left and nav right is evenly distributed
 
 z-index is used so that we can see shadow over every object navbar comes*/

.nav-left{
    display: flex;
    align-items: center;
}

.nav-right{
    margin-right: 40px;
}

.flash-logo{
    margin-left: 20px;
    height:40px;
}
.flash-logo-text{
    font-family: "Bangers",cursive;
    font-size: 60px;
    margin:0 10px;
    color:#e6e7e6;
}

.code-link{
    font-size: 32px;
    color: #e6e7e6;
    font-weight: 800;
}
